<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="ValorantSelect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ValorantSelect.Properties.Settings>
            <setting name="Classic" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Frenzy" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Ghost" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Sheriff" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Shorty" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Ares" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Bucky" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Bulldog" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Guardian" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Judge" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Marshal" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Odin" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Op" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Phantom" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Spectre" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Stinger" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Vandal" serializeAs="String">
                <value>default</value>
            </setting>
        </ValorantSelect.Properties.Settings>
    </userSettings>
</configuration>